#
# Source control ignored files
#

# Python compiled files
*.pyc

# Mac resource files
**/.DS_Store

# Python virtual environments
/.venv/**
/.venv-*/**

# Python 'coverage' package's database
/.coverage
